body {
    margin: 0;
    padding: 0;
}

/*navbar*/
.navbar.custom-navbar {
    background-color: #f5cef9 !important;
}

.navbar.custom-navbar a {
    color: rgb(0, 0, 0) !important;
}

.navbar.custom-navbar i {
    color: rgb(0, 0, 0) !important;
}

.navbar-toggler-icon {
    color: rgb(0, 0, 0);
}

.navbar.custom-navbar.scrolled i {
    color: white !important;
}

.navbar.custom-navbar.scrolled a {
    color: white !important;
}

.custom-navbar.scrolled {
    background-color: #001d3d !important;
}


#modules {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.301) !important;
}


#modules .years .year1,
#modules .years .year2,
#modules .years .year3,
#modules .years .year4 {
    background-color: rgba(0, 0, 0, 0.393) !important;
}

#modules .years .year1 h3,
#modules .years .year2 h3,
#modules .years .year3 h3,
#modules .years .year4 h3 {
    color: rgb(0, 0, 0) !important;
}

#modules .years .year1 p,
#modules .years .year2 p,
#modules .years .year3 p,
#modules .years .year4 p {
    color: rgb(0, 0, 0) !important;
}

#modules .content {
    background: linear-gradient(120deg, #df99ff, rgb(255, 255, 255));
    color: rgb(0, 0, 0);
}

#modules .content h2,
#modules .content p,
#modules .content h3,
#modules .content a {
    color: black !important;
}

.container #modules .content .years .year1,
.container #modules .content .years .year2,
.container #modules .content .years .year3,
.container #modules .content .years .year4 {
    background-color: #ffffff !important;
}


.index-page {
    background-color: #171941;
}

.index-page .i {
    color: black;
}

.container h1 {
    color: rgb(255, 251, 251);
}

/* Custom CSS for navbar */

.content1 {
    background: linear-gradient(120deg, rgb(255, 255, 255), #ac1aef);
    border-radius: 2rem;
}

/* Set background color to white */


.text-content h2,
.text-content h3,
.text-content p {
    color: black;
    /* Set text color to black */
}



/*Navbar*/
/* Custom CSS for navbar */
.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: bold;
}


/*Navbar*/
/* Custom CSS for navbar */



/**********************Main Page*****************************/

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.container h1 {
    margin-top: 100px;
}

.container #intro {
    background-color: #0b0c0c;
    color: #001d3d;
}

.container .content1 {
    text-align: left;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content1 .text-content {
    flex: 1;
    text-align: left;
    padding: 30px;
}

.container .content1 .text-content h2 {
    font-size: 30px;
}

.container .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

h1,
h2,
h3 {
    color: #333;
}

#intro {
    text-align: center;
    margin-bottom: 40px;
    border-radius: 20px;
}

#intro p {
    font-size: 18px;
}

#intro h3 {
    font-size: 20px;
}

#modules {

    margin-bottom: 40px;
    background-color: #d9f0ff;
    border-radius: 20px;
}

.content {

    padding: 20px;
    background-color: #080909;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 30px;
}

.content p {
    font-size: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.years {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.year1,
.year2,
.year3,
.year4 {
    width: 23%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.year1 img,
.year2 img,
.year3 img,
.year4 img {
    width: 100%;
    height: auto;
}

.year1 h3,
.year2 h3,
.year3 h3,
.year4 h3 {
    font-size: 25px;
}

.year1 p,
.year2 p,
.year3 p,
.year4 p {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .container .content1 {
        flex-direction: column;
        align-items: center;
    }

    .container .content1 .text-content {
        padding: 20px;
    }

    .container .image-content {
        margin-top: 20px;
    }

    .years {
        flex-direction: column;
    }

    .year1,
    .year2,
    .year3,
    .year4 {
        width: 100%;
    }

    .year {
        margin-bottom: 20px;
    }
}

/*this is contact page*/

.contact-bg {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/contact.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}

.text {
    font-weight: 300;
    opacity: 0.9;
}

.contact-bg {
    padding-top: 15px;
}

.contact-bg .text {
    margin: 1.6rem 0;
    font-size: 20px;
}

.contact-body {
    max-width: 1320px;
    margin: 80px auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
}

.contact-info div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #ffffff;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

.contact-info img {
    max-width: 180px;
    height: auto;
    padding-left: 60px;
    padding-top: 15px;
    border-radius: 20px;
}

.form-control {
    width: 100%;
    border: 2px solid white;
    background-color: #7fceff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.721);
    /* Add your box shadow values here */
}


.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.send-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #f7327a;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px solid black;
}

.send-btn:hover {
    opacity: 0.8;
    background-color: black;
    border-color: white;
}

.contact-form {
    justify-content: center;
    align-items: center;
}


.contact-form>div img {
    width: 85%;
}

.contact-form>div {
    margin: 0 auto;
    text-align: center;
}

.contact-footer {
    padding: 2rem 0;
    background: transparent;
    color: #f7327a;
}

.contact-footer h3 {
    font-size: 1.3rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid black;
    background-color: #f7327a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}

.social-links a:hover {
    background-color: black;
    border-color: white;
}

@media screen and (min-width: 768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}

#images-cont {
    display: flex;
    gap: 250px;
    /* Adjust as needed */
    margin-top: 20px;
}

#images-cont img {
    max-width: 150px;
    /* Adjust as needed */
    height: auto;
    border-radius: 5px;
    /* Adjust as needed */
}